body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
}
.container {
    background-image: url(images/table.png);
    background-size: cover;
    width: 50%;
    margin: 150px auto 0 auto;
    padding: 20px;
}
h1 {
    color: goldenrod;
    font-size: 50px;
}
p {
    font-size: 20px;
}
#message-el {
    font-style: italic;
}