body {
    margin: 0;
    text-align: center;

}
.hero {
    background-image: url(images/nairobi-bg2.jpg);
    background-size: cover;
    padding: 200px;
    color: #e5e1cf;
}
.places {
    background: #e5e1cf;
    padding: 50px;
}
.place-title {
    margin-bottom: 50px;
    font-size: 30px;
}
.place-section {
    display: flex;
    justify-content: space-around;
}
.place-image {
    width: 400px;
    transition: transform 0.3s ease-in-out;
}
.place-image:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
}
.place-text {
    max-width: 400px;
    line-height: 25px;
}
.guide {
    background-color: #DCCAA7;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.guide-desc {
    max-width: 400px;
    margin: 40px 30px 0 30px;
}
p{
    font-size: 19px;
}