body {
    background-image: url(images/birthday-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}
.main {
    font-family: 'Happy Monkey', system-ui;
    text-align: center;
    background: #00292c;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.profile {
    border-radius: 50%;
    border: 8px solid #af9741;
}