body {
    margin: 0;
    text-align: center;
}

.container {
    background: #1B244A;
    width: 50%;
    padding: 20px 5px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
h3 {
    color: white;
}
#points-text {
    background: black;
    color: red;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
    margin: 0;
}
.add-points {
    margin-top: 20px;
}
.add-points-btn {
    background: #1B244A;
    border: 1px solid #9AABD8;
    border-radius: 3px;
    color: #9AABD8;
}
