body {
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin:0;
}
/* hero-section styling */
.hero-section {
    background-image: url(images/galaxy.gif);
    background-size: cover;
    padding: 10px 0 60px 0;
}
/* button styling */
.btn {
    padding: 6px 10px;
    background: white;
    border: none;
    /* inheriting fonts */
    font-family: inherit;
    color: #82a5ca;
    font-weight: bold;
}
/* underline on span tag */
.underline {
    text-decoration: underline;
}
#main-logo {
    width: 200px;
    
}
#title{
    text-shadow: 0px 0px 4px black;
}